# build artifacts - heavy stuff
debug/
target/

docs/

# rustfmt backups - clutter
**/*.rs.bk

# temp files & junk
script.sh
*.swp
*~

# macos leftovers
.DS_Store
*.dSYM

# archives
*.tar.gz

# ide configs
.idea/
.vscode/

scripts/*
!scripts/install.sh

.cawa_cfg.json
